@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .pause-animate{
        animation-play-state: paused;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 300ms ease-in-out;
    }
    
}